@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@400;700;800&family=Poppins:wght@500;700&display=swap');


body{
margin:0;
min-height:100vh;
 
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
  
color:#333333;
  
font-family: Montserrat;
font-style: normal;
font-size:14px;
font-weight: 500;
}
header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:white;
}
main{
  width:86.8%;
  max-width: 1250px;
  margin-top:148px;
  margin-bottom:100px;
}
h1{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px; 
margin:0;
}
h2{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
margin:0;
}

#navbar{
  padding-top:21px;
  padding-bottom:21px;
  display: flex;
  justify-content: space-between;
  width:86.8%;
  max-width: 1250px;
   background: white;
} 

#navbar-expand{
  position: absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background: rgba(79, 79, 79, 0.4);
}
.navbar-expand-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding-top:93px;
}
.edit-box{
  width:93.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.edit-text{
font-weight: 700;
font-size: 15px;
line-height: 15px;
}
.search-icon-l-1{
 font-size: 12px;
}

.search-bar-expand{
  width:86.8%;
  background: white;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.top-logo{
width:96px;
}
.search-bar{
  height: 55px;
  width: 297px;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}
.search-location{
  width: 138px;
}
.search-guest{
  width: 106px;
}

.search-icon{
  width:53px;
  color:#EB5757;
}
.search-btn-s, .search-btn-l{
  background:none;
  border:none;
  height: 55px;
} 
.search-btn-l{
  flex-basis:33%;
}

.search-btn-s:hover,.search-btn-l:hover{
  cursor: pointer;
  border-radius: 16px;
  background: #f5f5f5;
}

.search-icon-l{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap:11px;
  font-size: 14px;
  color: #F2F2F2;
  background: #EB5757;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding:15px 26px;
  border: none;
}
.search-icon-l-2{
  display:none;
}

.search-icon-l:hover{
   cursor: pointer;
  background: #E34d4d;
}
.search-icon-l > .search-icon{
  color: #F2F2F2;
  size: 17px 17px;
}
.search-icon-l-box{
  flex-basis:33%;
  display: flex;
  justify-content: center;
}

.search-option{
  color: #BDBDBD;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  border-right: 1px solid #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap:4px;
}

.search-option-l{
  align-items: flex-start;
  padding-left: 27px;
}
.search-option-l > h3{
  font-weight: 800;
  font-size: 9px;
  text-transform: uppercase;
  margin:0;
}
.search-option-l > p{
  margin:0;
}
.search-guest-l{
  border:none;
}

#guest-list{
  margin-left:33%;
  padding-left: 27px;
}
.hidden{
  display:none;
}
.search-list-box{
  margin-top:41px;
  margin-bottom:18px;
  width:86.8%;
  display:flex;
}
.search-list{
    flex-basis:33%;
}
.search-list > li{
  color: #4F4F4F;
  list-style-type:none;
  margin-bottom:35px;
  display: flex;
  align-items: center;
  column-gap:10px;
}
.search-list > li:hover{
  cursor:pointer;
  color: #EB5757;
  font-weight: bold;
}
.location-list{
  padding-left:26px;
  margin:0;
}
.place-icon{
  size: 19.5px 14px;
}
.guest-list>h4{
margin:0;
}
.guest-list>p{
  color:#BDBDBD;
  margin-top:0;
  margin-bottom:12px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}
.guest-no-box{
  display: flex;
  align-items: center;
  column-gap:15px;
  margin-bottom:52px;
}
.guest-no{
  font-size: 14px;
  font-weight: bold;
}
.change-btn{
  background: none;
  border: 1px solid #828282;
  border-radius: 4px;
  height: 23px;
  width:23px;
  padding:0;
  color:#828282;
}
.change-btn:hover{
  cursor:pointer;
  color:#EB5757;
  border: 1px solid #EB5757;
}
.change-btn:disabled{
  cursor:default;
  color:#dddddd;
  border: 1px solid #dddddd;
}
.change-icon{
  font-size:20px;
  padding:0;
  margin:0;
}

.nav-blank{
  height:100%;
  width: 100%;
}
.search-btn-l:focus, .search-focus{
  border: 1px solid #333333;
  background: white;
  border-radius: 16px;
}
#page-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:32px;
}
.search-active{
  color: #333333;
}

.grid-group{
  display: flex;
  flex-wrap: wrap;
  row-gap: 49px;
  column-gap: 2%;
  justify-content: flex-start;
  align-items: flex-start;
}
.grid-box{
  width:32%;
}
.img-box{
height: 269px;
border-radius: 24px;
background:#ddd;
}
.room-img{
width: 100%;
height: 269px;
border-radius: 24px;
object-fit: cover;
}
.desc-box{
  height:28px;
  width:100%;
  margin-top:15px;
  margin-bottom:12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.desc-box-L{
  display: flex;
  align-items: center;
}
.super-host{
  padding:7px 10px;
  margin-right:10px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #4F4F4F;
  border: 1px solid #4F4F4F;
  box-sizing: border-box;
  border-radius: 12px;
}
.details{
  color: #828282;
}
.rating{
  color: #4F4F4F;
}
.desc-box-R{
  display: flex;
  align-items: center;
  column-gap:7px;
}
.star-icon{
  color: #EB5757;
  font-size: 16px;
}
.box-title{
  width: 100%;
}
footer{
padding-bottom: 24px;  
width: 100%;
text-align: center;
}

em{
  font-style: normal;
  font-weight: bold;
}
@media(max-width:1300px){
  .grid-group{
  column-gap: 4%;
}
.grid-box{
  width:48%;
}
}

@media(max-width:900px){
  main{
  margin-top:167px;
  width:93.6%;
}
  .grid-box, .desc-box, .img-box, .room-img{
    width:100%;
  }

  #navbar{
    flex-direction: column;
    row-gap:37.25px;
  }
  .search-bar{
    align-self:center;
  }
  .search-bar-expand{
    height:113px;
   width:93.6%;
   flex-direction: column; 

  }
  .edit-box{
  display: flex;
  margin-bottom:16px;
  }
  .close-btn:hover{
  cursor: pointer;
  }
  .navbar-expand-box{
    padding-top:18px;
  }
  .search-icon-l-box{
    display: none;
  }
  .search-icon-l-2{
  display:flex;
  margin-bottom:24px;
}
.search-btn-l{
 width:100%;
  padding-top: 11px;
  padding-bottom:11px;
  margin:0;
}
  #guest-list{
  margin-left:0;
  padding-left: 27px;
}
  .search-list-box{
      width:93.6%;
  }
  .search-list{
    flex-basis:auto;
}

}
